// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {

	--font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-size-small: 12px;
  
  --primary-color: #0a192f;
  --header-bg: #0a192f;

  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #172a45;
  --lightest-navy: #303C55;
  --navy-shadow: rgba(2,12,27,0.7);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);

  --home-link-color: #A1613F;
  --home-link-hover-color:  var(--primary-color);

  --button-color: #E5C3D3;
  --button-alternate-color: #5C2941;

  --post-link-color: #0F070B;


  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0,0,0,0.5);

  --label-text: rgba(0,0,0,0.5);
  --input-focus-border: #83AAAC;
  
  // CSS Grid Utility
  --grid-gap: 30px; 

}